body {
  
}       

.Mountain {
       position: absolute;
       top: 0;
       bottom: 0;
       
}

.Title {
       text-align: center;
       fontsize: 150px;
       color: Purple;
       
       

}


