body {
  
}       

.Mountain {
       position: absolute;
       top: 0;
       bottom: 0;
       
}

.title {
       text-align: center;
       fontsize: 150px;
       fontcolor: purple;
       
       

}


